{{
  input type='text' class=inputClassNames value=value
  placeholder=placeholder enter='enterPressed' autocomplete="off"

}}
{{!
focus-in='focusIn' focus-out='focusOut'
}}

{{!#if showCompletions}}
  <div {{bind-attr class=":completion-list showCompletions:show:hide" }}>
  <!--<div class="completion-list">-->
    {{#each candidate in potentialComplements}}
      <div {{bind-attr class=":completion-candidate candidate.isActive:active"}}
        {{action "selectComplement" candidate}}>
        {{candidate.value}}
      </div>
    {{/each}}
  </div>
{{!/if}}
