<h1> welcome to the demo/test page! </h1>


<fieldset>
  <legend>The actual component</legend>
  <p class="text-center">
    Enter something:
    {{completable-input value=completableValue placeholder='start typing and completion will appear'
    complements=complements selectedCompletion=currentCompletion
    enter='completableEnterPressed' minForComplement=minForComplement
    potentialComplements=potentialComplements
    inFocus=inFocus activeComplement=activeComplement
    }}
  </p>
</fieldset>


<form>
  <fieldset>
    <legend>parameters</legend>
    <label for="minForComplement">Minimal number of character before showing up completions?</label><br/>
    {{input type="number" min=0 value=minForComplement id="minForComplement"}}<br/>
    <label for="possibleComplements">Place complements here, separate by a comma or a new line (pre-filled by the list of countries from <a href="http://openconcept.ca/blog/mgifford/text-list-all-countries-world">here</a>)</label><br/>
    {{textarea value=possibleComplements rows=8 id="possibleComplements"}}<br/>
  </fieldset>
</form>

<div>
  <fieldset>
    <legend>debug zone</legend>

    <p>
      showCompletions? {{showCompletions}} <br/>
      potentialComplements.length?  {{potentialComplements.length}} <br/>
      inFocus? {{inFocus}}<br/>
      activeComplement? {{activeComplement.value}}
    </p>
  </fieldset>
</div>



